{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Home
{% endblock %}

{% block content %}
    {% for meme in memes %}
        <div><p>Id : {{ meme.mem_id }}</p>
        <p>Pseudo : {{ meme.mem_pseudo }} </p>
        <p>Img : {{ meme.mem_image }}</p>
        <p>Crée le : {{ meme.mem_createdAt }}</p>
        </div>
    {% endfor %}
{% endblock %}