{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Home
{% endblock %}

{% block content %}


    <div class="h10vh"></div>

<section class="container row h70vh">
    <div class="col m1 s1"></div>
    <div class="col m4 s10 h30vh  bgWhite"></div>

    <img name="current_img" class="" id="output_img"/>
    <form method="POST" action="" enctype="multipart/form-data">
        
        <input type="file" name="img" onchange="loadFile(event)">
        <input type="submit" name="submit" value="Générer">
        <p>Pseudo</p><input type="text" name="pseudo">
        <p>Ajouter du texte sur l'image</p> <input type="text" name="pseudo">
        <p>Selectionner une police d'écriture</p><input list="browsers" name="browser">
        <datalist id="browsers">
          <option value="Times new roman">
          <option value="Myriad">
          <option value="Roboto">
        </datalist>
    </form>
    
{#     {% for memes in meme %}
        <div class="">
            <p>Id : {{ memes.mem_id }}</p>
            <p>Pseudo : {{ memes.mem_pseudo }} </p>
            <p>Img : {{ memes.mem_image }}</p>
            <p>Crée le : {{ memes.mem_createdAt }}</p>
        </div>
    {% endfor %} #}


      {#   <div class="offset-m1 offset-s1 col s10 m4">
            <div><button>Parcourir </button></div>
            <div><button>Supprimer</button></div>
            <div><button>Generer</button></div>
        </div> #}

    </div>
</section>
{% endblock %}