{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Home
{% endblock %}

{% block content %}
    {% for memes in meme %}
        <div><p>Id : {{ memes.mem_id }}</p>
        <p>Pseudo : {{ memes.mem_pseudo }} </p>
        <p>Img : {{ memes.mem_image }}</p>
        <p>Crée le : {{ memes.mem_createdAt }}</p>
        </div>
    {% endfor %}
{% endblock %}